/* * * * * * * * * * * * * * * * * * * * *
General
* * * * * * * * * * * * * * * * * * * * */
/* * {
  box-sizing: border-box;
} */

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

ul li {
    list-style: none;
}



/* * * * * * * * * * * * * * * * * * * * *
Header
* * * * * * * * * * * * * * * * * * * * */


.zigzag-header {
    background-image: url(../img/zigzag-bg-header.svg);
    height: 10px;
    position: relative;
    bottom: -65px;
    z-index: 100;


}

header {

    height: 66px;
    background-image: linear-gradient(to left, 
    #f660e9, 
    #d25fe5, 
    #ac5ddd, 
    #875ad3, 
    #6056c6);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.logo {
    margin-right: auto;
 
}

.logo i {
    color: pink;
}

.logo span {
    font-size: 16px;
    margin-left: 10px;
    color: #fff;

}

header ul {
    margin-bottom: 0;
    display: flex;  
    list-style: none; 
        
}


header ul li a {
    height: 66px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;

}

header ul li a:hover {
    background: rgba(255, 255, 255, 0.404);
}
a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.hamburger-icon {
    display: none;
    background: transparent;
    border: none;
}

.hamburger-icon a {
    color: #fff;
}

.hamburger-icon a:hover {
    color: #3f3f3f;
}


@media screen and (max-width:600px) {
    header ul {
        display: none;
    }
    .hamburger-icon {
        display: block;
        color: #fff;
    }
    .logo span {
        display:none;
    }
    .logo i {
        color: pink;
    }



}

/* * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * */
.hero {
    position: relative;
    background-attachment: fixed;
    height: 650px;
    padding: 50px 50px 5px 50px;
    color: rgb(110, 110, 110);
    background-image: 
    linear-gradient(90deg, 
            rgba(161, 161, 161, 0.4), 
            rgba(0,0,0,0.0)), 
        url(../img/hero-background.jpg);
    background-position: 80% 30%;
    background-size: cover;

}


.hero-content {
    width: 40%;
    margin-top: 100px;
    margin-left: 80px;
    
}

.hero h1 {
    font-family: 'Playfair Display',serif;
    font-size: 4em;
    margin: 0;
    font-weight: 400;
    color: #646464;
    margin-bottom: 10px;
}


.hero button {
    color: #fff;
    border:none;
    background: #cf1e43;
    padding: 10px 20px;
}

.hero button:hover {
    cursor: pointer;
    background: #fff;
    color: #d25fe5;
}

@media screen and (max-width:600px) {
    .hero {
        height: 500px;
    }
    .hero-content {
        display: none;
    }
}

 /*Scroll-Down Menu  */

 .menu-scroll-down {
     height: 200px;
     padding-top: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    
     
 }

 .menu-scroll-down h6 {
     font-family: 'Playfair Display', sans-serif;
     font-size: 12px;
     letter-spacing: 0.3em;
     color: rgb(0, 0, 0);
     margin: 0;
     font-weight: 400;
    
 }

 .menu-scroll-down a {
     color: rgb(245, 115, 115);
 }
 
 


/* * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * */

main {
    min-height: 400px;
    padding: 10px 20px 30px;
    width: 100%;
    margin: 50px auto;
    display: inline-block;
    text-align: center;
}


main h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}


main .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

main .products-box {
    height: 200px;
    margin: 50px 10px;
    flex-basis: 300px;
}

main .products-box i, h6, p {
    margin: 10px;
}

main .products-box h6 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4d4d4d;
}

main .products-box i {
    color: #6056c6;
}

main .products-box p {
    font-family: 'Roboto' sans-serif;
    font-size: 15px;
    line-height: 1.5em;

}

main .products-box hr {
    border: 0.5px solid #3f3f3f64;
    width: 30px;
    margin: 5px auto;
}

/* .ending-image {
    position: relative;
    background-attachment: fixed;
    height: 200px;
    padding: 50px;
    color: rgb(110, 110, 110);
    background-image: 
    linear-gradient(90deg, 
            rgba(161, 161, 161, 0.4), 
            rgba(0,0,0,0.0)), 
        url(../img/parallax-image.jpg);
    background-position: -10px 0px;
    background-size: cover;

} */

/* * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * */
footer {
    height: 300px;
    background: #6340ff;
    /* padding: 40px 0 80px; */
    margin-top: 50px;
    
}


.zigzag {
    background:url(../img/zigzag-bg.svg);
    height: 10px;
    position: relative;
    top: -10px;


}

.container {
    padding-top: 15px;
}


footer h2 {
    color: #fff;
    font-size: 0.9em;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

footer ul {
    margin: 0 0 30px 0;
    padding: 0;
}

footer li {
    margin-top: 8px;
}

footer a {
    color:#fff;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 300;
}

.social-icons {
    width: 60%;
    display: flex;
    flex-direction: row;
    /* another way justify-content: space-between; */
}

.social-icons li {
    flex: 1; /* Grow however much you need depending on the space */
}





